src/main/resources/META-INF/schemas/campainsWs.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://soap.restfulwebservices.webservices.rest.com"
           targetNamespace="https://soap.restfulwebservices.webservices.rest.com" elementFormDefault="qualified">


    <xs:element name="getCampainRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCampainResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="campain" type="tns:campain"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="campain">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="QuellSystem" type="xs:byte"/>
            <xs:element name="TransaktionsID" type="xs:byte"/>
            <xs:element name="ExtKampagnenid" type="xs:string"/>
            <xs:element name="Kampagnentyp" type="xs:string"/>
            <xs:element name="Start" type="xs:int"/>
            <xs:element name="Ende" type="xs:int"/>
            <xs:element name="MABEOnly" type="xs:byte"/>
            <xs:element name="KampagneName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="Bezeichnung"/>
                        <xs:element type="xs:string" name="Sprache"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Beschreibung">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="Bezeichnung"/>
                        <xs:element type="xs:string" name="Sprache"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Erfassergruppe" type="xs:string"/>
            <xs:element name="Projektleiter" type="xs:string"/>
            <xs:element name="Planumsatz" type="xs:string"/>
            <xs:element name="Update" type="xs:byte"/>
            <xs:element name="Zuordnungsbereiche">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="GM"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Organisationen">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:byte" name="Organisation" maxOccurs="unbounded" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Industrien">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="Industrie"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Marken">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="Marke"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Label">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="Label"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Kundengruppen">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="Kundengruppe"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Profilierungssortimente">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="Profilierungssortiment"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>